# COGS 108 - Data Checkpoint

# Names

- Ashley Shen
- Octavio Castro
- Zhen Cai
- Angel Olivas

<a id='research_question'></a>
# Research Question

To what extent does the day of the week, time of day, and time since prior order affect a grocery itemâ€™s chance of being ordered on Instacart?

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [8]:
## YOUR CODE HERE
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns

In [ ]:
## YOUR CODE HERE
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle competitions download /psparks/instacart-market-basket-analysis

In [7]:
! unzip instacart-market-basket-analysis.zip

Archive:  instacart-market-basket-analysis.zip
  inflating: aisles.csv
  inflating: departments.csv
  inflating: order_products__prior.csv
  inflating: order_products__train.csv
  inflating: orders.csv
  inflating: products.csv

In [11]:
orders_prior = pd.read_csv("order_products__prior.csv")
orders_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [15]:
orders_train = pd.read_csv("order_products__train.csv")
orders_train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [19]:
orders = pd.read_csv("orders.csv")
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [18]:
products = pd.read_csv("products.csv")
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [24]:
print(orders_prior.shape)
print(orders_train.shape)
print(products.shape)
print(orders.shape)

(32434489, 4)
(1384617, 4)
(49688, 4)
(3421083, 7)

# Data Cleaning

Describe your data cleaning steps here.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION